<link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">

<!DOCTYPE html>
<html>
<head>
  <title>FriendTrip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div>
    <section class="top-bar nav-white">
      <a href="/" class="friendtrip-logo"><%= image_tag "new-logo.png"%></a>
        <%- if current_user -%>
        <ul class="nav white-back">
          <li class="nav-link"><%= link_to 'My FriendTrips', trips_path %></li>
          <li class="nav-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul
        <%- else -%>
        <div className="nav white-back">
          <p class="nav-link"><%= link_to 'Sign Up', new_user_registration_path %></p>
          <p class="nav-link"><%= link_to 'Sign In', new_user_session_path %></p>
        </div>
        <%- end -%>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>

  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6-s7yJ6sFvKg1iFz2RMBzkHC2rWm8ncY&callback"
    async defer></script>
</body>
</html>
